@charset "UTF-8";
div{text-align:center;}

#register{
	cursor: pointer; /* マウスカーソルを乗せると指になる */
	width: 100px;
	height:50px;
	border-radius:30px;
	outline: none;
	background-color:#CCFFFF

}
#search{
	cursor: pointer; /* マウスカーソルを乗せると指になる */
	width: 100px;
	height:50px;
	border-radius:30px;
	outline: none;
	background-color:#CCFFFF
}
